<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define log file name and path -->
    <property name="LOG_PATH" value="logs/app.log" />

    <!-- Define appender for console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Define log pattern -->
        <encoder>
            <pattern>%d{-yyyyMM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Define appender for file -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover, with 30 days history -->
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set root logger level to DEBUG and its appenders to STDOUT and FILE -->
    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>